body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.section {
  /* background-color: #f8c6cf; */
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}
